$off-black:#20222b;
$off-white:rgb(189, 142, 142);


//spacing
//m-size

$m-size:3.2rem;
$s-size:1.6rem;
$l-size:4.8rem;
//$space:
$space:1.6rem;
$light-blue:#464b5e;

$dark-blue:rgb(22, 22, 59);
$purple:#8357c5;
$xs-size:1.2rem;
$blue:#3c4251;

$desktop-breakpoint:45rem